:root {
  /* font w 400 - 700 */

  /*   ### Primary */

  --darkViolet: hsl(256, 26%, 20%);
  --grayishBlue: hsl(216, 30%, 68%);
  /* 
### Neutral */

  --veryDarkViolet: hsl(270, 9%, 17%);
  --darkGrayishViolet: hsl(273, 4%, 51%);
  --veryLightGray: hsl(0, 0%, 98%);
}

.section-hero {
  background-color: var(--darkViolet);
}

.hero-img img {
  width: 100%;
}

.hero-text {
  height: auto;
  background-color: var(--darkViolet);
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  height: 500px;
}

.hr-hero {
  display: none;
}
.hero-text h1 {
  font-size: 50px;
  color: white;
  line-height: 60px;
}
.hero-text p {
  color: white;
  padding: 30px 20px;
  line-height: 25px;
}

.hero-text button {
  background-color: transparent;
  border: 1px solid white;
  width: 150px;
  height: 40px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.hero-text button:hover {
  background-color: white;
  color: black;
}

.menu {
  height: 92vh;
  width: 100vw;
  background-color: var(--veryDarkViolet);
  position: absolute;
  top: 10vh;
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.menu.toggle {
  display: none;
}

.menu-absolute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.menu-absolute button {
  width: 400px;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 15px 0px;
  color: white;
  letter-spacing: 4px;
  height: 50px;
}
.menu-absolute button:hover {
  width: 90%;
  background-color: transparent;
  border: 1px solid white;
}

.hero-img-desktop {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .menu {
    height: 92vh;
    width: 100vw;
    background-color: var(--veryDarkViolet);
    position: absolute;
    top: 10vh;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: none;
  }

  .menu.toggle {
    display: none;
  }

  .section-hero {
    height: 600px;
    background-color: var(--darkViolet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
    
  }

  .hero-img {
    display: none;
  }
  .hero-img-desktop {
    width: 540px;
    display: block;
    position: absolute;
    right: 165px;
    top: 20vh;
  }

  .hero-text {
    height: auto;
    text-align: start;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: none;
    background-repeat: no-repeat;
    width: 550px;
    position: none;
    top: 20vh;
    left: 140px;
  }

  .hr-hero {
    display: block;
    width: 20%;
    margin: -50px 0px 50px;
  }
  .hero-text h1 {
    font-size: 70px;
    color: white;
    line-height: 60px;
  }

  .hero-text p {
    color: white;
    padding: 30px 0px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-img-desktop {
    width: 540px;
    display: block;
    position: absolute;
    right: 165px;
    top: 20vh;
  }

  .hero-text {
    height: auto;
    text-align: start;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: none;
    background-repeat: no-repeat;
    width: 550px;
    position: absolute;
    top: 20vh;
    left: 140px;
  }
}
